parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    ignoreErrors:
        - '#Property App\\Entity\\User::\$id is never written, only read.#'